#feedback{
    width: 100%;
    padding: 70px 0;
}
.testemunha-linha{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testemunhas{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #0096874f;
    cursor: pointer;
    transition: transform .5s;
}
.testemunha-linha p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.testemunhas:hover{
    transform: translateY(-7px);
}
@media screen and (max-width: 770px) {
    .testemunhas{
        flex-basis: 100%;
    }
}
